# Node
node_modules/
dist/
build/
.turbo/
.next/
.vercel/
.cache/
*.tsbuildinfo
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env
.env
.env.*
!.env.local.example

# Rust/Anchor
target/
.anchor/
docker-target/

# OS
.DS_Store
Thumbs.db

# IDE/Editor
.vscode/
.idea/
